<div class="quick-view-modal" data-quick-view-modal>
  <div class="quick-view-modal__overlay" data-quick-view-close></div>
  
  <div class="quick-view-modal__content">
    <button class="quick-view-modal__close" data-quick-view-close>
      {% render 'icon-close' %}
    </button>
    
    <div class="quick-view-modal__body" data-quick-view-body></div>
  </div>
</div>